/* body {
    background: linear-gradient(to left, #7fb8e6, #1d53db);
} */
.bg-light-blue {
    /* background-color: #2f55d1; */
    background: linear-gradient(to left, #209CFF, #68E0CF);
}
.navbar-brand, .nav-link {
    color: #fff !important;
}
.btn-primary {
    background-color: #07d6d6;
    border: none;
}

.card {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    justify-content: space-between; 
    transition: transform 0.3s ease;
    position: relative;
}

.card:hover {
    transform: scale(1.03);
    z-index: 10;
}

.card-img-top {
    height: auto;
    width: 100%; 
    object-fit: contain; 
}

.card-body {
    display: flex;
    flex-direction: column; 
    flex: 1; 
    justify-content: space-between; 
    background: linear-gradient(to right, #add0ee, #c8e2de);
}


.card-title, .card-text {
    margin: 0;
}

.card-description {
    display: none;
    margin: 10px 0;
    color: #555;
    font-size: 14px;
    transition: opacity 0.3s ease; 
    opacity: 0;
}

.card:hover .card-description {
    display: block; 
    opacity: 1; 
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    .card {
        margin-bottom: 15px;
    }
    .container {
        padding: 10px;
    }
    .table {
        font-size: 14px;
    }
    .table img {
        width: 30px;
    }
    #search-form .col-sm-6 {
        margin-bottom: 10px;
    }
}



.carousel {
    margin-bottom: 20px; /
}

.carousel-item img {
    height: 400px; 
    object-fit: cover;
    object-position: center; 
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    .card {
        margin-bottom: 15px;
    }
    .container {
        padding: 10px;
    }
    .table {
        font-size: 14px;
    }
    .table img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        object-position: center;
    }
    #search-form .col-sm-6 {
        margin-bottom: 10px;
    }
    .card-img-top {
        width: 100%;
        height: 200px;
    }
    .carousel-item img {
        height: 200px;
    }
}

.navbar-nav .nav-link img {
    vertical-align: middle;
    margin-top: -5px; 
}

.notification {
    position: fixed;
    top: 20px;               
    left: 50%;       
    transform: translateX(-50%);
    background-color: #28a745;  
    color: white;  
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;  
    transition: opacity 0.5s ease;
    opacity: 0;   
}